<html>
     <head>
        <title> Home Page</title>
     </head> 
     <body>

       <h1> Welcome to the PG Application From </H1>
         <Form action='/Analyze' method='get'>
            <textarea name='Text' style="width: 967px; height: 174px;"></textarea>
         <br>
            <Input type="Checkbox", name="remove">Remove text <br>
            <Input type="Checkbox", name="fullcaps">UPPERCASE<br>
            <Input type="Checkbox", name="newlineremove">New Line remover<br>
            <Input type="Checkbox", name="Extraspaceremove">Extera Space Remover


   
               <br>
            <button type= "Sumit"> Analyze Text<button>

         </Form>
       <br>
      


     </body> 
</Html>